@{
    ViewData["Title"] = "Home";
}
<style>
    .required:after {
        content: " *";
        color: red;
    }
</style>

<hr />
<div class='row'>
    <div class='col-md-12'>
        <form id='dynamicFormId'>
            @*<div asp-validation-summary='ModelOnly' class='text-danger'></div>*@

            @Html.Raw(ViewBag.FormDesignFields)

            <div class='form-group row'>
                <div class='col-sm-2'></div>
                <div class='col-sm-10'>
                    <input type='button' id="buttonSubmit" value='Save' class='btn btn-primary' />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('#buttonSubmit').click(function() {

                var model = $("#dynamicFormId").serialize();
                console.log(model);

                $.ajax({
                    type: 'POST',
                    dataType: 'JSON',
                    url: '/Home/DynamicForm',
                    data: { formData: model },
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(response) {
                        alert("Error: " + response);
                    }
                });

                /*

                    var model = new FormData($('#dynamicFormId')[0]);

                    var object = {};
                    formData.forEach((value, key) => object[key] = value);
                    var model = JSON.stringify(object);
                    console.log(json);

                    var model = $("#dynamicFormId").serialize();
                    console.log(model);
                    debugger;

                    $.ajax({
                        type: 'POST',
                        dataType: 'JSON',
                        url: '/Home/DynamicForm',
                        data: { formData: model },
                        success: function(response) {
                            console.log(response);
                        },
                        error: function(response) {
                            alert("Error: " + response);
                        }
                    });

                */

              
            });
        });
    </script>

}
