@{
    ViewData["Title"] = "Home";
}
<style>
    .required:after {
        content: " *";
        color: red;
    }
</style>

<hr />
<div class='row'>
    <div class='col-md-12'>
        <form id='dynamicFormId'>
            @*<div asp-validation-summary='ModelOnly' class='text-danger'></div>*@

            @Html.Raw(ViewBag.FormDesignFields)

            <div class='form-group row'>
                <div class='col-sm-2'></div>
                <div class='col-sm-10'>
                    <input type='button' id="buttonSubmit" value='Save' class='btn btn-primary' />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('#buttonSubmit').click(function() {

                var model = $("#dynamicFormId").serialize();
                console.log(model);

                $.ajax({
                    type: 'POST',
                    dataType: 'JSON',
                    url: '/Home/DynamicForm',
                    data: { formData: model },
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(response) {
                        alert("Error: " + response);
                    }
                });

                /*

                    var model = new FormData($('#dynamicFormId')[0]);

                    var object = {};
                    formData.forEach((value, key) => object[key] = value);
                    var model = JSON.stringify(object);
                    console.log(json);

                    var model = $("#dynamicFormId").serialize();
                    console.log(model);
                    debugger;

                    $.ajax({
                        type: 'POST',
                        dataType: 'JSON',
                        url: '/Home/DynamicForm',
                        data: { formData: model },
                        success: function(response) {
                            console.log(response);
                        },
                        error: function(response) {
                            alert("Error: " + response);
                        }
                    });

                */


            });
        });
        //@Html.Raw(ViewBag.ScriptList)
        function getBranchList(dropdownId, upcommingId) {
            debugger;
            var e = document.getElementById(dropdownId);
            var bankCode = e.options[e.selectedIndex].value;

            var x = document.getElementById(upcommingId);
            x.options.length = 0;

            $.ajax({
                url: '/Home/GetBranchList',
                type: 'GET',
                data: { bankCode: bankCode },
                contentType: 'application/json; charset=utf-8',
                success: function(data) {
                    data.forEach(function(item) {
                        console.log(item.code, item.name);
                        debugger;

                        var x = document.getElementById(upcommingId);
                        var option = document.createElement("option");
                        option.text = item.name;
                        option.value = item.code;
                        x.add(option);
                    });
                },
                error: function() {
                    alert("error");
                }
            });
        }
    </script>
}
